<table>
    <tr th:each="tShirt : ${cartItems}">
        <td th:text="${tShirt.id}"></td>
        <td th:text="${tShirt.name}"></td>
        <td th:text="${tShirt.description}"></td>
        <td th:text="${tShirt.size}"></td>
        <td th:text="${tShirt.price}"></td>
        <td th:text="${tShirt.available}"></td>
        <td>
            <div th:each="image : ${tShirt.images}" style="display: inline-block;">
                <img th:src="@{/images/{id}(id=${image.id})}" alt="Image" height="200" />
                <br>
            </div>
        </td>
    </tr>
</table>