<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Orders</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <h1>All Orders</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Name</th>
            <th>Post Office</th>
            <th>Postal Code</th>
            <th>Phone Number</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.nameOfUser}"></td>
            <td th:text="${order.postOffice}"></td>
            <td th:text="${order.postalCode}"></td>
            <td th:text="${order.phoneNumber}"></td>
            <td th:text="${order.orderStatus}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>