<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>T-Shirts</title>
    <link th:href="@{/styles/cssandjs/delete.css}" rel="stylesheet" />

</head>
<body>
<h1>T-Shirts</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>
            <form action="/tshirts/sortBySize" method="get">
                <p>
                    <select name="size">
                        <option value="">All Sizes</option>
                        <option value="XXS">XXS</option>
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                        <option value="XXXL">XXXL</option>
                        <option value="4XL">4XL</option>
                        <option value="5XL">5XL</option>
                        <option value="6XL">6XL</option>
                    </select>
                    <button type="submit">Filter</button>
                </p>
            </form>
        </th>

        <th>
            <form action="/tshirts/sortByPrice" method="get">
                <p>
                    <select name="order">
                        <option value="asc">Sort by Price (Ascending)</option>
                        <option value="desc">Sort by Price (Descending)</option>
                    </select>
                    <button type="submit">Sort</button>
                </p>
            </form>
        </th>


        <th>
            <form action="/tshirts/sortByAvailable" method="get" th:method="get">
                <p>
                    <select name="available">
                        <option value="true">Available</option>
                        <option value="false">Not available</option>
                    </select>
                    <button type="submit">Sort</button>
                </p>
            </form>
        </th>

    </tr>
    <tr th:each="tShirt : ${tShirts}">
        <td th:text="${tShirt.id}"></td>
        <td th:text="${tShirt.name}"></td>
        <td th:text="${tShirt.description}"></td>
        <td th:text="${tShirt.size}"></td>
        <td th:text="${tShirt.price}"></td>
        <td th:text="${tShirt.available}"></td>
        <td>
            <form th:action="@{/tshirts/delete/{id}(id=${tShirt.id})}" method="post">
                <input type="submit" value="Delete" class="floating-button delete">
            </form>
        </td>


        <td>
            <div th:each="image : ${tShirt.images}" style="display: inline-block;">
                <img th:src="@{/images/{id}(id=${image.id})}" alt="Image" height="200" />
                <br>
            </div>
        </td>
        <td><a th:href="@{/cart/add(tShirtid=${tShirt.id})}">Add to Cart</a></td>
    </tr>

</table>
</tr>
</table>
<a href="/tshirts/create">Create T-Shirt</a>
<a href="/cart">Cart</a>
</body>
</html>